
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.06);

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;    
    background: #FFD631;    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffffff;
}

#navbar li a:hover{
    color: #fff600;
}
#navbar li a:active{
    opacity: 0.5;
}